.cartDiv{
    align-self: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #7c5a74; */
}
.cartDiv p:first-child{
    align-self: flex-start;
    margin-left: 35px;
    font-family: Roboto;
    margin-bottom: 10px;
    color: #5b5b5b;
}

.cartContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    gap: 30px;
    overflow: hidden;
    padding: 2rem;
    transition: all 1s ease-in-out;
}

.emptyCartDiv{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.emptyCartDiv button{
    cursor: pointer;
    background-color: #d1b683;
    color: #fff9fe;
    font-family: Inter !important;
    font-size: 1rem;
    border: transparent;
    padding: 20px;
    margin-bottom: 2rem;
}
.emptyCartDiv button:hover{
    background-color: #f0d5a4;
}

.cart{
    /* background-color: rgb(255, 240, 245); */
    width: 100%;
    padding: 1.5rem;
    /* border: 1px solid rgb(244, 244, 244); */
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin-top: -2rem;
    border: 1px solid rgb(244, 244, 244);
}

.cartItems{
    width: 70%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(244, 244, 244); */
    border-radius: 3px;
}

.cart .purchaseDiv{
    width: 30%;
    padding-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    background-color: #f9f9f9;
    border-radius: 3px;
}
.purchaseDiv span{
    margin: 0;
    margin-bottom: 2rem;
    font-family: Inter;
    font-weight: 400;
    font-family: Inter;
    font-size: 1.4rem;
    color: #4c4c4c;
    display: flex;
    justify-content: space-between;
}

.cart .emptyCartButton{
    align-self: flex-end;
    background: transparent;
    border-radius: 3px;
    border: transparent;
    color: #454545;
    margin-bottom: 0;
    text-align: right;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: Inter;
    font-weight: 300;
}
.cart .emptyCartButton:hover{
    text-decoration: underline;
}

.cartProduct{
    position: relative;
    width: 100%;
    min-width: 50px;
    /* background-color: rgb(255, 241, 230); */
    /* box-shadow: 0 1px 1px rgb(0 0 0 / 5%); */
    /* border-radius: 5px; */
    border: none; 
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 1rem;
    border-bottom: 1px solid rgb(0 0 0 / 5%);
}
.cartProduct:last-child{
    border-bottom: none;
}

.cartProduct .productImage{
    position: relative;
    min-width: 200px;
    height: 100px;
}

.cartProduct .qtySelect{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: Inter;
    font-weight: 300;
}

.cartProduct .qtySelect label{
    font-size: 1rem;
    margin-right: 10px;
}

.cartProduct .qtySelect select{
    cursor: pointer;
    width: 50px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 3px;
    padding: 3px;
    padding-left: 3px;
    color: rgb(61, 61, 61);
    background-color: #f6f6f6;
    font-size: .9rem;
    font-family: Inter;
    font-weight: 300;
    /* font-weight: 500; */
    /* appearance: none; */
}
.cartProduct .qtySelect select:focus{
    background-image: none;
    outline: none;
    box-shadow: none;
  
}

.cartProduct .qtySelect select:hover{
    border: 1px solid rgb(232, 205, 166);
}

.cartContainer .purchaseBtn{
    padding: 8px;
    font-size: 1.1rem;
    font-family: Poppins;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: rgb(114, 177, 89);
    background-color: #dab984;
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    transition: all .2s;
}

.cartContainer .purchaseBtn:hover {
    background-color: rgb(114, 203, 79);
    background-color: #c8a977;
    color: rgb(255, 255, 255);
}
/* }
 .cartContainer button > svg {
    width: 35px;
    font-size: 1.5rem;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
}
.cartContainer button:hover svg {
    transform: translateX(5px);
}  
.cartContainer button:active {
    transform: scale(0.95);
} */

.cartProduct svg{
    position: absolute;
    top: 20px;
    right: 5px;
    cursor: pointer;
    color: rgb(218, 100, 100);
    font-size: 1.5rem;
    transition: .1s linear;
}
.cartProduct svg:hover{
    transform: scale(1.1);
    color: rgb(230, 43, 43);
}

.cartProduct .productInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -.7rem;
}

.cartProduct span{
    font-size: 1rem;
    font-weight: 400;
    color: #2e2e2e;
    font-family: Inter;
}

.cartProduct .productInfo h3{
    max-width: 90%;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: Nunito; */
    font-family: Roboto;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: rgb(33, 33, 33);
    font-weight: 400;
    font-size: 1.1rem;
}

.cartProduct .productInfo h3:hover{
    color: rgb(106, 67, 112);
    text-decoration: 1px underline; 
}

.orderContainer {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: #edc3e1; */
    gap: 10px;
    background-color: #f4f4f4;
    background-color: #fff8f8;
    padding: 20px;
    padding-top: 50px;
    position: relative;
    /* margin-bottom: 5rem; */
}

.order {
    width: 20%;
    /* padding: 15px; */
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    /* background-color: #fafafa; */
}

.order p{
    font-size: 1rem;
    font-family: Inter;
    margin-top: 0;
}
.order span{
    padding: 10px;
    /* background-color: #f8edf5; */
    background-color: white;
    -webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    /* border-bottom: 1px solid rgb(0 0 0 / 10%); */
    font-family: Inter;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.order span:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.order span:nth-last-child(2){
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.order .productSpan{
    -webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
}

.order span p{
    color: #303030;
    margin-top: 10px;
    font-family: Inter;
    margin-bottom: 5px;
}
.order span:last-child{
    border-radius: 3px;
}
.order span b{
    color: #413f3f;
    font-weight: 500;
    font-size: 1.5rem;
}
.order span small{
    color: #8d8d8d;
}

.emailDiv{
    width: 30%;
    background-color: white;
    -webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    border-radius: 3px;
    padding: 1rem 3rem 2rem 3rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.emailDiv label{
    display: block;
    font-family: Inter;
    color: #564465;
    margin-bottom: .6em;
}

.emailDiv input{
    width: 100%;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: #7c5a74;
    transition: .2s ease-in-out;
}
.emailDiv input[type=text]{
    background-color: #f8f8f8;
    border-radius: 5px;
    margin-bottom: 30px;
}
.emailDiv input[type=email]{
    background-color: #f8f8f8;
    border-radius: 5px;
    margin-bottom: 30px;
}

.emailDiv input:focus{
    outline: none;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 1px 2px rgb(218, 206, 225);
}
.emailDiv textarea{
    width: 100%;
    height: 100px;
    background-color: #f8f8f8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9rem;
    border-radius: 5px;
    border: 1px solid #83838333;
    color: #7c5a74;
    padding: 10px;
    resize: vertical;
    transition: .2s ease-in-out;
}
.emailDiv textarea:focus{
    outline: none;
    box-shadow: 0px 0px 1px 2px rgb(219, 206, 225);
}
.suggestion{
    color: #727272;
    font-family: Inter;
    font-size: .8rem;
    margin-top: 5px;
    margin-bottom: 20px;
}
.emailDiv button{
    width: 100%;
    color: white;
    font-family: Inter;
    font-size: 1rem;
    background-color: rgb(124, 90, 116);
    padding: .8em 1em;
    border: 0;
    border-radius: 3px;
    margin-top: 1rem;
    transition: .2s ease-in-out;
}
.emailDiv button:hover{
    background-color: rgb(96, 76, 91);
    cursor: pointer;
}

.emailDiv .emailH3{
    margin-top: 1.5rem;
    margin-bottom: 40px;
    color: #3d3d3d;
    font-family: Inter;
    font-weight: 400;
    font-size: 1.1rem;
}


.emailDiv .copyOrder{
    margin-left: 5px;
    font-family: Roboto;
    font-size: .9rem;
    font-weight: 500;
    color: rgb(73, 91, 207);
    cursor: pointer;
}

.emailDiv .copyOrder:hover{
    text-decoration: underline;
    color: rgb(49, 68, 187);
}

.emailDiv .error{
    color: rgb(255, 73, 73);
    font-size: .8rem;
    font-family: Roboto;
    margin-top: -10px;
}


.orderLinks {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.orderLinks a:first-child{
    font-size: 1rem;
    font-family: Inter;
    font-weight: 400;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(129, 175, 111);
    background-color: transparent;
    color: rgb(129, 175, 111);
    /* border: 1px solid transparent; */
    display: flex;
    align-items: center;
    transition: all .2s;
}
.orderLinks a:nth-of-type(2){
    font-size: 1rem;
    font-family: Inter;
    font-weight: 400;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: tr;
    color: #eb6dc8;
    border: 1px solid #eb6dc8;
    display: flex;
    align-items: center;
    transition: all .2s;
}


.orderLinks a:first-child:hover {
    background-color: rgb(120, 203, 87);
    color: rgb(255, 255, 255);
}
.orderLinks a:nth-of-type(2):hover{
    background-color: #e54bba;
    color: rgb(255, 255, 255);
}
.orderLinks a > svg {
    width: 35px;
    font-size: 1.5rem;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
}
.orderLinks a:hover svg {
    transform: translateX(5px);
}  
.orderLinks a:active {
    transform: scale(0.95);
}


@media (max-width: 1400px){
    .cart{
        width: 100%;
    }

    .order{
        width: 30%;
    }
    .emailDiv{
        width: 40%;
    }
}

@media (max-width: 1200px) { 
    .cartDiv{
        width: 100%;
    }
    .cartContainer{
        width: 100%;
    }

    .emptyCartDiv h1{
        color: #626262;
    }
    .order{
        width: 40%;
    }
    .emailDiv{
        width: 60%;
    }
 }
@media (max-width: 768px) { 
    .cartContainer{
        width: 100%;
    }

    .cart{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cartItems{
        width: 100%;
    }
    .cart .purchaseDiv{
        width: 100%;
    }
    .cart .emptyCartButton{
        font-size: 1rem;
        margin-top: 30px;
        margin-bottom: -10px;
    }
    .orderContainer{
        width: 100%;
    }
    .order{
        width: 50%;
        margin-bottom: 2.5rem;
    }
    .emailDiv{
        margin-bottom: 1rem;
    }
    .emailDiv textarea{
        height: 150px;
    }
 }

 @media (max-width: 576px) { 
    .cartContainer{
        padding: 0;
        background-color: transparent;
        padding-top: 2rem;
    }
    .cartDiv p:first-child{
        align-self: center;
        margin-left: 0;
        text-align: center;
    }
    /* .purchaseDiv{
        background-color: white !important;
    } */
    .cartProduct{
        flex-direction: column;
        gap: 0px;
        /* background-color: #fff8f8; */
        box-shadow: none;
    }
    /* .purchaseDiv{
        background-color: #fff8f8 !important;
    } */
    .productInfo h3{
        margin-top: 1.4rem;
        font-size: 1.2rem !important;
    }
    .productInfo span{
        font-size: 1rem !important;
    }
    .productImage img{
        border-radius: 3px;
    }
    .cartProduct .qtySelect label{
        font-size: 1rem;
    }
    .cartProduct svg{
        top: 10px;
    }

    .purchaseBtn{
        width: 100%;
    }
    .orderContainer{
        flex-direction: column;
        width: 100%;
    }
    .order{
        width: 100%;
    }
    .emailDiv {
        width: 100%;
        padding: 30px;
    }
    .emailDiv button{
        width: 100%;
    }
    .emailDiv .orderLinks {
        width: 100%;
        gap: 15px;
    }
    /* .emailDiv .orderLinks a{
        width: 50%;
        padding: 10px 25px;
    }
    .orderLinks a > svg {
        margin-left: 10px;
    }
    .orderLinks a:hover svg{
        transform: translateX(10px);
    } */
 }