.formDiv{
    width: 100%;
    min-height: 100vh;
    background-color: #fff9f9;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form{
    width: 30%;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    -webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);

}

.form h1{
    color: rgb(51, 51, 51);
    font-family: Inter;
}

.formDiv input{
    width: 100%;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    color: #7c5a74;
    background-color: #f8f8f8;
    margin-bottom: 20px;
    transition: .2s ease-in-out;
}

.form select{
    width: 100%;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    color: #7c5a74;
    background-color: #f8f8f8;
    margin-bottom: 20px;
    transition: .2s ease-in-out;
}
.form select:focus{
    outline: none;
    box-shadow: 0px 0px 1px 2px rgb(219, 206, 225);
}

.form input[type=text]{
    border-radius: 5px;
    margin-bottom: 20px;
}


.form input:focus{
    outline: none;
    box-shadow: 0px 0px 1px 2px rgb(219, 206, 225);
}

.form textarea{
    width: 100%;
    background-color: #f8f8f8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9rem;
    white-space: pre-line;
    border-radius: 5px;
    border: 1px solid #83838333;
    color: #7c5a74;
    padding: 10px;
    resize: vertical;
    margin-bottom: 20px;
    transition: .2s ease-in-out;
}
.form textarea:focus{
    outline: none;
    box-shadow: 0px 0px 1px 2px rgb(219, 206, 225);
}

.form button{
    background-color: rgb(222, 181, 110);
    color: white;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 2px 0 rgb(148, 124, 83);
    padding: 10px;
    font-size: 1.3rem;
    font-family: Roboto;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.form button:hover{
    background-color: rgb(190, 152, 86);
}

.form label{
    color: rgb(39, 39, 39);
    font-size: 1rem;
    font-family: Roboto;
}

@media (max-width: 1200px) {
    .form{
        width: 50%;
        
    }
}

@media (max-width: 992px) {
    .form{
        width: 80%;
        
    }
}

@media (max-width: 600px) {
    .form{
        width: 100%;        
    }
}
  